:root {
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

.question-list {
  display: flex;
  margin: 1rem;
}

.level-selection {
  display: flex;
  margin: 1rem;
}

.bg-primary {
  background: var(--dark-color);
  color: #fff;
}

.score-cart,
.container,
label {
  margin: 1rem;
}

.btn {
  font-size: 1rem;
  border: none;
  outline: none;
  margin: 1rem;
  width: 80px;
  height: 30px;
}

.question {
  margin: 1rem;
  text-align: left;
}

.answer {
  margin: 1rem;
  text-align: left;
}
